<div class="container container-width-admin">
  <div class="row justify-content-center">
    <div class="col ">
      <h2 class="my-4">All Tweets</h2>

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">All Tweets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">All Users</a>
        </li>

      </ul>
      <table class="table table-striped mt-4">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Avatar</th>
            <th scope="col">Tweets</th>
            <th scope="col">Time</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td><img src="https://via.placeholder.com/80" id="avatar-profile"></td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. In dolorum cumque culpa eum doloribus minus ea,
              velit unde aliquid voluptatibus accusamus doloremque blanditiis odit natus numquam dignissimos corrupti
              dolores error?</td>
            <td>2020/03/10</td>
            <td><button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>