{{>navBar data = user}}
<div class="container container-width-admin">
  <div class="row justify-content-center">
    <div class="col">
      <h2 class="my-4">All Tweets</h2>

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="/admin/tweets" method="POST">All Tweets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/users">All Users</a>
        </li>

      </ul>
      <table class="table table-striped mt-4 text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Tweets</th>
            <th scope="col">Replies</th>
            <th scope="col">Likes</th>
            <th scope="col">Time</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        {{#each tweets as |tweet|}}
          {{#> blockAdminTweets}}
            {{tweet.value}}
            {{/ blockAdminTweets}}
        {{/each}}
      </table>
    </div>
  </div>
</div>