<tbody>
  <tr>
    <th scope="row">{{user.id}}</th>
    <td><a href="/users/:id/tweets"><img src={{user.avatar}} id="avatarProfile">{{user.name}}</a></td>

    <td>{{description}}</td>
    <td>30</td>
    <td>40</td>
    <td>2020/03/10</td>
    <td><a href="#" type="button" class="btn btn-danger btn-sm">Delete</a>
    </td>
  </tr>
</tbody>