<tr>
  <th scope="row">{{id}}</th>
  <td><a href="/users/:id/tweets">
      <img src={{avatar}} id="avatarProfile">
      {{name}}</a></td>
  <td>User</td>
  <td>50</td>
  <td>30</td>
  <td>1</td>
  <td>400</td>
  <td>2020/03/10</td>
  {{#if this.isAdmin}}
  <td>administrator</td>
  {{else}}
  <td>user</td>
  {{/if}}
  <td>
  <td>
    <a href="#" type="button" class="btn btn-primary btn-sm">Set Admin</a>
    <a href="#" type="button" class="btn btn-danger btn-sm">Set User</a>
  </td>
</tr>