<div class="card my-1 select-card">
  <div class="card-body">
    <div class="row no-gutters">
      {{!-- 大頭照 --}}
      <div class="col-3 pr-5">
        <img src="{{User.avatar}}" alt="avatar" id="avatarTweet">
      </div>
      {{!-- 推文內容 --}}
      <div class="col pt-1 ml-n4">
        <h6 class="card-subtitle mb-2 text-muted">@{{User.name}},{{moment createdAt}}</h6>
        <p class="card-text">{{comment}}</p>
      </div>
    </div>
  </div>
</div>