<div id="message-block" class="d-flex align-items-end flex-column">
  <div class="pr-3 pl-1" style="background-color: #1da1f2;color:white;border-radius: 20px 0px 0px 20px ">
    <p style="padding: 5px; margin:5px">{{text}}</p>
  </div>
  <div class="pr-2 text-muted" style="font-size: 10px;">{{createAt}}</div>
</div>