<div class="container">
  <div class="row">
    {{> blockUserProfile data = user}}

    {{!-- 貼文牆時間軸 --}}
    <div class="col">
      {{!-- 原推文 --}}
      <div class="row my-3">
        <div class="col">
          <h3>Tweets</h3>
          {{#each tweets as |tweet|}}
          {{#> blockTweetPost}}
          {{tweet.value}}
          {{/ blockTweetPost}}
          {{/each}}
        </div>
      </div>
      {{!----------}}
      {{!-- 推文留言 --}}
      <div class="row my-3">
        <div class="col">
          <h3>Replies</h3>
          {{#each replies as |reply|}}
          {{#> blockReply}}
          {{reply.value}}
          {{/ blockReply}}
          {{/each}}
        </div>
      </div>
      {{!-- ------ --}}
      {{!-- 回覆貼文 --}}
      <div class="row my-2">
        <form class="col mt-3">
          <div class="form-group">
            {{!-- 輸入欄 --}}
            <textarea class="form-control" id="newTweet" rows="3" placeholder="What's on your mind?"></textarea>
            {{!-- 按鈕 --}}
            <button type="submit" class="btn btn-primary mt-2 float-right">Reply</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>