<div class="container container-width">
  <div class="row justify-content-center">
    <div class="col ">
      </br>
      </br>
      {{> blockWarning}}
      {{> blockSignUp}}

    </div>
  </div>
</div>