<div class="container">
  <div class="row">
    {{!-- 貼文牆時間軸 --}}
    <div class="col">
      {{!-- 新增貼文 --}}
      <div class="row my-3">
        <form action="/tweets" method="POST" class="col mt-3">
          <div class="form-group">
            {{!-- 輸入欄 --}}
            <textarea class="form-control text-form" name="description" id="tweet-post" maxlength='140' rows="3"
              placeholder="What's on your mind?">
            </textarea>
            {{!-- 按鈕 --}}
            <button type="submit" class="btn btn-primary mt-2 ml-2 float-right">
              Tweet
            </button>
            {{!-- <button id="find-me" class="btn btn-info mt-2 ml-2 float-right">Check-In</button> --}}
            <a id="find-me" style="color: white" class="btn btn-info mt-2 ml-2 float-right">
              Check-In
            </a>
            <p id="status" class="mt-2 ml-2 float-right"></p>
            <a id="map-link" name="geoInfo" value="{{mapLink.textContent}}" class="mt-2 ml-2 float-right"
              target="_blank"></a>
          </div>
        </form>

      </div>
      {{!-- 其他貼文 --}}
      <div class="row">
        <div class="col">
          {{#each tweets as |tweet|}}
          {{#> blockTweetPost}}
          {{tweet.value}}
          {{/ blockTweetPost}}
          {{/each}}
        </div>
      </div>
    </div>
    {{!----------}}
    {{!-- 熱門推主 --}}
    <div class="col-4 mt-4" id="popularField">
      <h3>Popular</h3>
      {{!-- 熱門推主 --}}
      <div class="row">
        <div class="col">

          {{#each popUsers as |popUser|}}
          {{#> blockPopular}}
          {{popUser.value}}
          {{/ blockPopular}}
          {{/each}}
        </div>
      </div>
    </div>
    {{!----------}}
  </div>
</div>

{{!-- /* -------------------------------------------------------------------------- */
/* 載入check-in 腳本 */
/* -------------------------------------------------------------------------- */ --}}

<script src="/javascript/checkIn.js"></script>