/* 圓形圖示相關
需要再整理
現在很重複 */

#popular-field {
  display: none;
}

#new-tweet {
  font-size: 20px;
  margin: auto;
  resize: none;
}

#twitter-logo {
  display: block;
  border-radius: 100px;
  margin: auto;
  width: 50px;
  height: auto;
}

#avatar-profile {
  display: block;
  border-radius: 100px;
  margin: auto;
  width: 50px;
  height: auto;
}

#avatar-follow {
  display: block;
  border-radius: 100px;
  margin: auto;
  width: 80px;
  height: auto;
}

#avatar-tweet {
  display: block;
  border-radius: 100px;
  margin: auto;
  width: 100px;
  height: auto;
}

#avatar-popular {
  display: block;
  border-radius: 100px;
  margin: 0px -5px 0px 0px;
  width: 60px;
  height: auto;
}

#avatar-profile-lg {
  display: block;
  border-radius: 100px;
  margin: auto;
  width: 200px;
  height: auto;
}

/* 推文/追蹤...統計置中 */
.list-vertical {
  display: block;
}

.card-follow-text {
  font-size: 14px;
  width: 150px;
  margin: auto;
}

.container-width {
  width: 21rem;
}

.container-width-admin {
  width: 100rem;
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  #popular-field {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
}
